.main
  .main-top
    .main-top__box
      .main-top__box__group-name
        = @group.name
      .main-top__box__menber-name
        Member:
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
    .main-top__edit-button
      = link_to edit_group_path(@group), class: 'edit-buttun' do
        = icon('fas', 'edit', class: 'icon fa-2x')

  .main-center
    = render @messages
    
      
    
  .main-bottom
    = form_for [@group, @message] do |f|
      .main-bottom__left
        = f.text_field :content, class: 'main-bottom__left__message', placeholder: 'type a message'
        .main-bottom__left__image
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon fa-2x')
            = f.file_field :image, class: 'file'
          = f.submit 'Send', class: 'main-bottom__right'